@import "tailwindcss";

@layer base {
  html,
  body {
    min-height: 100%;
    background-color: #000;
    background-image: url("/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  body {
    min-height: 100dvh;
  }
}
